<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">

	<!-- The definition of the Root Spring Container shared by all Servlets 
		and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:spring/applicationContext.xml
        	,classpath:hibernate/spring-hibernate.xml
        </param-value>
	</context-param>


	<context-param>
		<param-name>log4jpath</param-name>
		<param-value>d://
        	
        </param-value>
	</context-param>

	<!-- <context-param> <param-name>log4jConfigLocation</param-name> <param-value>WEB-INF/log4j.properties</param-value> 
		</context-param> -->

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
	<!-- <listener> <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class> 
		</listener> -->
	<!-- 设置origin alow 为*的监听 -->
	<filter>
		<filter-name>origin</filter-name>
		<filter-class>com.cyc.filter.Originfilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>origin</filter-name>
		<url-pattern>/*</url-pattern>
 
	</filter-mapping>

	<!-- 监听ip对下载事件 -->
	<filter>
		<filter-name>ipfilter</filter-name>
		<filter-class>com.cyc.filter.IpFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ipfilter</filter-name>
		<url-pattern>/ebook/freedownlink</url-pattern>
		<dispatcher>ASYNC</dispatcher>

	</filter-mapping>





	<servlet>
		<servlet-name>dispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>WEB-INF/spring/webmvc-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		<async-supported>true</async-supported>
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatcherServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>/WEB-INF/jsp/hello.jsp</welcome-file>
	</welcome-file-list>




</web-app>
